@using JDsDataModel.ViewModels
@model OutgoingFormViewModel

<head>
    <style type="text/css" media="print">
        @@page
        {
            size: auto;
            margin: 0mm;
        }
        body
        {
            margin:0px;
        }
    </style>
</head>
<div class="container">
    <div class="row" id="ogfPrintHeader">
        <div class="logo-wrapper col-sm-5">
            <div class="jd-big-logo-font-print">JD</div>
            <div class="jd-small-logo-font-print"><span>’</span>S</div>
        </div>
        <div class="sublogo-wrapper col-sm-6">
            <h2 class="subtitle">BABBIT BEARINGS, LLC</h2>
            <h2 class="address">811 Mardell Lane &nbsp; &nbsp; Howe, Texas 75459</h2>
        </div>
    </div>
    <div class="row" id="ogfSubHeader" style="background-color: #000 !important;">
        <div class="col-sm-4" style="color: #fff !important;">
            <b>PHONE:</b> 903-532-6240
        </div>
        <div class="col-sm-4" style="color: #fff !important;">
            <b>FAX:</b> 903-532-9619
        </div>
        <div class="col-sm-4" style="color: #fff !important;">
            <b>EMAIL:</b> babbittbearings@msn.com
        </div>
    </div>
    <div class="row">
        <br /><br />
    </div>
    <div class="row">
        <div class="col-xs-5" style="padding-left:80px;">
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                 xmlns:cc="http://creativecommons.org/ns#"
                 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:svg="http://www.w3.org/2000/svg"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                 width="44.946712mm"
                 height="43.751148mm"
                 viewBox="0 0 159.26 155.02375"
                 id="svg3408"
                 version="1.1"
                 inkscape:version="0.91 r13725"
                 sodipodi:docname="bore_cross_measurementL.svg">
                <defs id="defs3410" />
                <sodipodi:namedview id="base"
                                    pagecolor="#ffffff"
                                    bordercolor="#666666"
                                    borderopacity="1.0"
                                    inkscape:pageopacity="0.0"
                                    inkscape:pageshadow="2"
                                    inkscape:zoom="0.7"
                                    inkscape:cx="115.96607"
                                    inkscape:cy="11.832968"
                                    inkscape:document-units="px"
                                    inkscape:current-layer="layer1"
                                    showgrid="false"
                                    inkscape:window-width="1920"
                                    inkscape:window-height="1017"
                                    inkscape:window-x="-8"
                                    inkscape:window-y="-8"
                                    inkscape:window-maximized="1"
                                    fit-margin-top="0"
                                    fit-margin-left="0"
                                    fit-margin-right="0"
                                    fit-margin-bottom="0" />
                <metadata id="metadata3413">
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                            <dc:title></dc:title>
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <g inkscape:label="Layer 1"
                   inkscape:groupmode="layer"
                   id="layer1"
                   transform="translate(-237.51285,-271.99319)">
                    <g transform="matrix(1.25,0,0,-1.25,223.61535,455.76444)"
                       inkscape:label="bore_cross_measurementL"
                       id="g3344">
                        <path inkscape:connector-curvature="0"
                              id="path3346"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.25;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                              d="m 75.395,131.498 c 29.461,0 53.344,-24.037 53.344,-53.687 0,-29.651 -23.883,-53.688 -53.344,-53.688 -29.461,0 -53.344,24.037 -53.344,53.688 0,29.65 23.883,53.687 53.344,53.687 z" />
                        <path inkscape:connector-curvature="0"
                              id="path3348"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 76.633,130.397 0,-105.75" />
                        <path inkscape:connector-curvature="0"
                              id="path3350"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 75.722,39.485 0,76.074 -3.644,0 4.555,14.838 4.554,-14.838 -3.644,0 0,-76.074 3.644,0 -4.554,-14.838 -4.555,14.838 3.644,0" />
                        <path inkscape:connector-curvature="0"
                              id="path3352"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="M 129.944,100.658 20.585,54.927" />
                        <path inkscape:connector-curvature="0"
                              id="path3354"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 35.706,61.878 78.67,32.897 -0.893,2.136 16.461,3.747 -14.228,-9.087 -0.893,2.136 -78.67,-32.897 0.893,-2.137 -16.461,-3.746 14.228,9.087 0.893,-2.136" />
                        <path inkscape:connector-curvature="0"
                              id="path3356"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="M 21.747,101.247 129.941,56.004" />
                        <path inkscape:connector-curvature="0"
                              id="path3358"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 114.983,62.886 -77.832,32.548 0.894,2.137 -16.298,3.676 14.064,-9.02 0.894,2.138 77.831,-32.547 -0.893,-2.138 16.298,-3.676 -14.064,9.02 -0.894,-2.138" />
                        <path inkscape:connector-curvature="0"
                              id="path3360"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 81.316,137.217 -1.286,0 -1.079,2.8 -4.145,0 -1.017,-2.8 -1.293,0 3.802,9.8 1.203,0 3.815,-9.8 z m -2.732,3.78 -1.543,4.11 c -0.049,0.135 -0.099,0.352 -0.148,0.65 l -0.029,0 c -0.046,-0.276 -0.1,-0.493 -0.162,-0.65 l -1.531,-4.11 3.413,0" />
                        <path inkscape:connector-curvature="0"
                              id="path3362"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 132.366,97.717 0,9.8 2.813,0 c 0.856,0 1.534,-0.207 2.035,-0.62 0.501,-0.412 0.752,-0.95 0.752,-1.612 0,-0.552 -0.15,-1.033 -0.45,-1.441 -0.299,-0.409 -0.713,-0.699 -1.239,-0.871 l 0,-0.028 c 0.681,-0.078 1.226,-0.328 1.635,-0.751 0.409,-0.423 0.614,-0.973 0.614,-1.651 0,-0.842 -0.307,-1.523 -0.921,-2.044 -0.614,-0.522 -1.389,-0.782 -2.323,-0.782 l -2.916,0 z m 1.12,8.82 0,-3.22 1.183,0 c 0.633,0 1.131,0.154 1.493,0.462 0.363,0.309 0.544,0.744 0.544,1.305 0,0.968 -0.631,1.453 -1.892,1.453 l -1.328,0 z m 0,-4.2 0,-3.64 1.599,0 c 0.691,0 1.227,0.164 1.609,0.493 0.381,0.329 0.572,0.78 0.572,1.355 0,1.194 -0.809,1.792 -2.426,1.792 l -1.354,0" />
                        <path inkscape:connector-curvature="0"
                              id="path3364"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 137.836,49.643 c -0.722,-0.378 -1.62,-0.566 -2.695,-0.566 -1.387,0 -2.498,0.446 -3.333,1.339 -0.835,0.894 -1.252,2.066 -1.252,3.517 0,1.56 0.469,2.821 1.409,3.782 0.939,0.961 2.129,1.442 3.572,1.442 0.924,0 1.691,-0.106 2.299,-0.318 l 0,-1.222 c -0.691,0.373 -1.455,0.56 -2.291,0.56 -1.108,0 -2.007,-0.379 -2.696,-1.137 -0.689,-0.757 -1.033,-1.77 -1.033,-3.037 0,-1.203 0.322,-2.162 0.966,-2.876 0.643,-0.714 1.489,-1.07 2.536,-1.07 0.97,0 1.809,0.233 2.518,0.7 l 0,-1.114" />
                        <path inkscape:connector-curvature="0"
                              id="path3366"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.25;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                              d="m 12.243,84.582 0,-16.5" />
                        <path inkscape:connector-curvature="0"
                              id="path3368"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.25;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                              d="m 11.291,83.45 11.062,0" />
                        <path inkscape:connector-curvature="0"
                              id="path3370"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.25;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                              d="m 11.624,69.213 11.062,0" />
                    </g>
                </g>
            </svg>
        </div>
        <div class="col-xs-2" style="margin-top:45px;">
            @Html.LabelFor(x => x.JobId)
            &nbsp;
            @Html.DisplayFor(x => x.JobId)
        </div>
        <div class="col-xs-5" style="padding-left:25px;">
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                 xmlns:cc="http://creativecommons.org/ns#"
                 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:svg="http://www.w3.org/2000/svg"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                 width="42.068043mm"
                 height="43.751148mm"
                 viewBox="0 0 149.05999 155.02375"
                 id="svg3386"
                 version="1.1"
                 inkscape:version="0.91 r13725"
                 sodipodi:docname="bore_cross_measurementR.svg">
                <defs id="defs3388" />
                <sodipodi:namedview id="base"
                                    pagecolor="#ffffff"
                                    bordercolor="#666666"
                                    borderopacity="1.0"
                                    inkscape:pageopacity="0.0"
                                    inkscape:pageshadow="2"
                                    inkscape:zoom="0.35"
                                    inkscape:cx="272.38711"
                                    inkscape:cy="402.23631"
                                    inkscape:document-units="px"
                                    inkscape:current-layer="layer1"
                                    showgrid="false"
                                    fit-margin-top="0"
                                    fit-margin-left="0"
                                    fit-margin-right="0"
                                    fit-margin-bottom="0"
                                    inkscape:window-width="1920"
                                    inkscape:window-height="1017"
                                    inkscape:window-x="-8"
                                    inkscape:window-y="-8"
                                    inkscape:window-maximized="1" />
                <metadata id="metadata3391">
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                            <dc:title></dc:title>
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <g inkscape:label="Layer 1"
                   inkscape:groupmode="layer"
                   id="layer1"
                   transform="translate(-188.32718,-283.42178)">
                    <g transform="matrix(1.25,0,0,-1.25,162.59593,467.19303)"
                       inkscape:label="bore_cross_measurementR"
                       id="g3402">
                        <path inkscape:connector-curvature="0"
                              id="path3404"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.25;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                              d="m 75.395,131.498 c 29.461,0 53.344,-24.037 53.344,-53.687 0,-29.651 -23.883,-53.688 -53.344,-53.688 -29.461,0 -53.344,24.037 -53.344,53.688 0,29.65 23.883,53.687 53.344,53.687 z" />
                        <path inkscape:connector-curvature="0"
                              id="path3406"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 76.633,130.397 0,-105.75" />
                        <path inkscape:connector-curvature="0"
                              id="path3408"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 75.722,39.485 0,76.074 -3.644,0 4.555,14.838 4.554,-14.838 -3.644,0 0,-76.074 3.644,0 -4.554,-14.838 -4.555,14.838 3.644,0" />
                        <path inkscape:connector-curvature="0"
                              id="path3410"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="M 129.944,100.658 20.585,54.927" />
                        <path inkscape:connector-curvature="0"
                              id="path3412"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 35.706,61.878 78.67,32.897 -0.893,2.136 16.461,3.747 -14.228,-9.087 -0.893,2.136 -78.67,-32.897 0.893,-2.137 -16.461,-3.746 14.228,9.087 0.893,-2.136" />
                        <path inkscape:connector-curvature="0"
                              id="path3414"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="M 21.747,101.247 129.941,56.004" />
                        <path inkscape:connector-curvature="0"
                              id="path3416"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 114.983,62.886 -77.832,32.548 0.894,2.137 -16.298,3.676 14.064,-9.02 0.894,2.138 77.831,-32.547 -0.893,-2.138 16.298,-3.676 -14.064,9.02 -0.894,-2.138" />
                        <path inkscape:connector-curvature="0"
                              id="path3418"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 81.316,137.217 -1.286,0 -1.079,2.8 -4.145,0 -1.017,-2.8 -1.293,0 3.802,9.8 1.203,0 3.815,-9.8 z m -2.732,3.78 -1.543,4.11 c -0.049,0.135 -0.099,0.352 -0.148,0.65 l -0.029,0 c -0.046,-0.276 -0.1,-0.493 -0.162,-0.65 l -1.531,-4.11 3.413,0" />
                        <path inkscape:connector-curvature="0"
                              id="path3420"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 132.366,97.717 0,9.8 2.813,0 c 0.856,0 1.534,-0.207 2.035,-0.62 0.501,-0.412 0.752,-0.95 0.752,-1.612 0,-0.552 -0.15,-1.033 -0.45,-1.441 -0.299,-0.409 -0.713,-0.699 -1.239,-0.871 l 0,-0.028 c 0.681,-0.078 1.226,-0.328 1.635,-0.751 0.409,-0.423 0.614,-0.973 0.614,-1.651 0,-0.842 -0.307,-1.523 -0.921,-2.044 -0.614,-0.522 -1.389,-0.782 -2.323,-0.782 l -2.916,0 z m 1.12,8.82 0,-3.22 1.183,0 c 0.633,0 1.131,0.154 1.493,0.462 0.363,0.309 0.544,0.744 0.544,1.305 0,0.968 -0.631,1.453 -1.892,1.453 l -1.328,0 z m 0,-4.2 0,-3.64 1.599,0 c 0.691,0 1.227,0.164 1.609,0.493 0.381,0.329 0.572,0.78 0.572,1.355 0,1.194 -0.809,1.792 -2.426,1.792 l -1.354,0" />
                        <path inkscape:connector-curvature="0"
                              id="path3422"
                              style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                              d="m 137.836,49.643 c -0.722,-0.378 -1.62,-0.566 -2.695,-0.566 -1.387,0 -2.498,0.446 -3.333,1.339 -0.835,0.894 -1.252,2.066 -1.252,3.517 0,1.56 0.469,2.821 1.409,3.782 0.939,0.961 2.129,1.442 3.572,1.442 0.924,0 1.691,-0.106 2.299,-0.318 l 0,-1.222 c -0.691,0.373 -1.455,0.56 -2.291,0.56 -1.108,0 -2.007,-0.379 -2.696,-1.137 -0.689,-0.757 -1.033,-1.77 -1.033,-3.037 0,-1.203 0.322,-2.162 0.966,-2.876 0.643,-0.714 1.489,-1.07 2.536,-1.07 0.97,0 1.809,0.233 2.518,0.7 l 0,-1.114" />
                        <path inkscape:connector-curvature="0"
                              id="path3424"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.25;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                              d="m 138.708,69.531 0,16.5" />
                        <path inkscape:connector-curvature="0"
                              id="path3426"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.25;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                              d="m 139.66,70.662 -11.063,0" />
                        <path inkscape:connector-curvature="0"
                              id="path3428"
                              style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.25;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                              d="m 139.327,84.899 -11.062,0" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="row">
        <br /><br />
    </div>
    <div class="row">
        <div class="col-sm-6 jd-table-cell">
            <div id="grid_ID1Measurements"></div>
        </div>
        <div class="col-sm-6 jd-table-cell">
            <div id="grid_ID2Measurements"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6 jd-table-cell">
            <div id="grid_OD1Measurements"></div>
        </div>
        <div class="col-sm-6 jd-table-cell">
            <div id="grid_OD2Measurements"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            @Html.LabelFor(x => x.CustomerName)
            &nbsp;
            @Html.DisplayFor(x => x.CustomerName)
        </div>        
        <div class="col-xs-6">
            @Html.LabelFor(x => x.Date)
            &nbsp;
            @Html.DisplayFor(x => x.Date)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @Html.LabelFor(x => x.ContactName)
            &nbsp;
            @Html.DisplayFor(x => x.ContactName)
        </div>
        <div class="col-xs-6">
            @Html.LabelFor(x => x.CustomerJobNumber)
            &nbsp;
            @Html.DisplayFor(x => x.CustomerJobNumber)
        </div>
    </div>   

    <div class="row padd-top">
        <div class="col-xs-2">
            @Html.LabelFor(x => x.PONumber)
            &nbsp;
            @Html.DisplayFor(x => x.PONumber)
        </div>
        <div class="col-xs-4">
            @Html.LabelFor(x => x.BoreDiameter)
            &nbsp;
            @Html.DisplayFor(x => x.BoreDiameter)
        </div>
        <div class="col-xs-4">
            @Html.LabelFor(x => x.BabbittLength)
            &nbsp;
            @Html.DisplayFor(x => x.BabbittLength)
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(x => x.Insulated)
            &nbsp;
            @Html.DisplayFor(x => x.Insulated)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            @Html.LabelFor(x => x.ShaftSize)
            &nbsp;
            @Html.DisplayFor(x => x.ShaftSize)
        </div>
        <div class="col-xs-4">
            @Html.LabelFor(x => x.BoreSizeVertical)
            &nbsp;
            @Html.DisplayFor(x => x.BoreSizeVertical)
        </div>
        <div class="col-xs-4">
            @Html.LabelFor(x => x.BoreSizeHorizontal)
            &nbsp;
            @Html.DisplayFor(x => x.BoreSizeHorizontal)
        </div>
    </div>
    <div class="row padd-top">
        <div class="col-xs-2">
            @Html.LabelFor(x => x.CheckedBy)
        </div>
        <div class="col-xs-2">
            @Html.DisplayFor(x => x.CheckedBy)
        </div>
        <div class="col-xs-2">
            @Html.LabelFor(x => x.BearingManufacturer)
        </div>
        <div class="col-xs-2">
            @Html.DisplayFor(x => x.BearingManufacturer)
        </div>
        <div class="col-xs-2">
            @Html.LabelFor(x => x.BearingType)
        </div>
        <div class="col-xs-2">
            @Html.DisplayFor(x => x.BearingType)
        </div>
    </div>
    <div class="row padd-top padd-bottom">
        <div class="col-xs-3">
            @Html.LabelFor(x => x.Notes)
        </div>
        <div class="col-xs-9">
            @Html.DisplayFor(x => x.Notes)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            @Html.LabelFor(x => x.PartsInstalled)
        </div>
        <div class="col-xs-9">          
            <div id="grid_PartsInstalled"></div>
        </div>
    </div>
</div>

<script>
    function initiateMeasurementKendoGrid (id, dataSource) {
        $("#" + id).kendoGrid({
            dataSource: {
                data: dataSource,
            },
            scrollable: false,
            columns: [
            {
                field: "A",
                title: "A:",
                width: 100,
                format: "{0:0.000#}"
            },
            {
                field: "B",
                title: "B:",
                width: 100,
                format: "{0:0.000#}"
            },
            {
                field: "C",
                title: "C:",
                width: 100,
                format: "{0:0.000#}"
            }]
        });
    }

    function intiatePartsInstalledKendoGrid(id, dataSource) {
        $("#" + id).kendoGrid({
            dataSource: {
                data: dataSource,
            },
            scrollable: false,
            columns: [{
                field: "Name",
                width: 100

            },{
                field: "Quantity",
                width: 100
            }]
        });
    }

    initiateMeasurementKendoGrid("grid_ID1Measurements", @Html.Raw(Json.Encode(Model.ID1Measurements)));
    initiateMeasurementKendoGrid("grid_ID2Measurements", @Html.Raw(Json.Encode(Model.ID2Measurements)));
    initiateMeasurementKendoGrid("grid_OD1Measurements", @Html.Raw(Json.Encode(Model.OD1Measurements)));
    initiateMeasurementKendoGrid("grid_OD2Measurements", @Html.Raw(Json.Encode(Model.OD2Measurements)));
    intiatePartsInstalledKendoGrid("grid_PartsInstalled",@Html.Raw(Json.Encode(Model.PartsInstalled)));
    
    $(document).ready(function () {
        $("table > thead > tr > th").css("color", "white");
    });
</script>
